/* Start my work place */
$gray: #f4f4f4;
$blue: #26547c;
$lred: #d22238;
$dred: #ad050c;
/* End my word place */
/* Start Navbar */
.main-navbar {
  .navbar {
    background: $gray !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #9b8d8d;
  }
}
/* Start Navbar */
/* Start Image */
.slider {
  background-image: url('../images/sky.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  color: #FFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index:2;
  }
  .info {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    a {
      text-decoration: none;
      color: #FFF;
      background: none;
      border: 1px solid #FFF;
      border-radius: 24px;
      padding: 5px 20px;
    }
    a:hover {
      border: 2px solid #FFF;
    }
  }
}
/* End Image */
/* Start Slider Bar */
@media(max-width: 680px) {
  .sliderbar {display: none;}
}
.sliderbar {
  position: relative;
  color: #FFF;
  @media(max-width: 992px) {
    .latest h4 {font-size: 20px;}
    .latest .triangle::after {border-width: 27px 0 26px 40px;}
    .latest {height: 52px; line-height: 52px;}
    .news {height: 52px; line-height: 52px;}
    .news p {margin: 0 20px 8px 68px !important;}
  }
  .latest {
    background-color: $dred;
    display: flex;
    justify-content: flex-end;
    h4 {
          margin: 7px 8px 14px auto;
          font-weight: bold;
    }
    .triangle::after {
      content: "";
      position: absolute;
      height:0;
      width: 0;
      top: -1px;
      right: -40px;
      border-style: solid;
      border-width: 25px 0 25px 40px;
      border-color: transparent transparent transparent $dred;
      z-index: 4;
    }
  }
  .news {
    background-color: $lred;
    display: flex;
    justify-content: flex-start;
    p {
      margin: 8px 20px 8px 68px;
      display: inline-block;
    }
    a {
      text-decoration: none;
      font-size: 18px;
      color: #FFF;
    }
    a:hover {
      color: $blue;
    }
  }
}
/* Start Slider Bar */
/* Start Together */
.together {
  margin-top: 0;
  text-align: center;
  background-color: $gray;
  h2 {
    color: $blue;
    font-weight: normal;
    padding-top: 50px;
  }
  p {
    margin: 20px auto 70px auto;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
    letter-spacing: 3px;
    color: $blue;
  }
  .more {
    padding-bottom: 50px;
    a {
      text-decoration: none;
      color: #000;
      background: none;
      border: 1px solid #000;
      border-radius: 24px;
      padding: 7px 15px;
    }
    a:hover {
      border: 2px solid #000;
    }
  }
}
/* End Together */
/* Start Clients */
.clients {
  margin-top: 60px;
  h2 {
    color: $blue;
    text-align: center;
    font-weight: normal;
  }
  .info p:last-child {
    margin-top: 25px;
  }
  hr {
    margin: 50px auto 30px auto;
  }
}
/* End Clients */
/* Start Brand */
@media(max-width: 770px) {
  .brand {display: none;}
}
.brand {
  position: relative;
  margin-top:50px;
  .img {
    padding:20px;
    img {
      width: 100%;
      display: block;
      filter:grayscale(100%);
      transition: 0.5s ease;
    }
    img:hover {
      filter: grayscale(0%);
    }
  }
  .more {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    a {
      text-decoration: none;
      color: #000;
      background: none;
      border: 1px solid #000;
      border-radius: 24px;
      padding: 7px 15px;
    }
    a:hover {
      border: 2px solid #000;
    }
  }
}
/* End Brand */
/* Start Knowledge */
.knowledge {
  background-color: $gray;
  padding: 50px 0 100px 0;
  h2 {
    font-weight: normal;
    color: $blue;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
  }
  .how {
    margin: 30px auto 30px auto;
    img {
      width: 100%;
      height: 200px;
    }
    // img:hover,
    // .info:hover {
    //   box-shadow: 5px 5px 5px #666;
    // }
    .info {
      background-color: #FFF;
      padding: 30px;
      h4 {
        color: $blue;
        font-weight: normal;
        font-size: 20px;
      }
    }
  }
 .how:hover img {
    box-shadow: 5px 0 5px #666;
  }
 .how:hover .info {
   box-shadow: 5px 5px 5px #666;
   }
}
/* End Knowledge */
/* Start Footer */
.footer {
  background-color: $blue;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #FFF;
  .links {text-align: center;}
  ul {
    list-style: none;
    padding: 0;
    margin:16px 0;
  }
  ul li {
    display: inline-block;
    padding: 0 5px;
  }
  ul li a {
    text-decoration: none;
    color: #FFF;
    margin-left: 20px;
  }
  ul li a:hover {
    text-shadow: 5px 5px 5px #000;
  }
  .contacts {
    text-align: center;
    p {
      margin-right: 15px;
      display: inline-block;
      color: #FFF;
      letter-spacing: 2px;
    }
    .social {
      display: inline-block;
      .face {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #4060a4;
      }
      .twitt {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #78BDF1;
      }
      .link {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #0177B4;
      }
      img {
        max-width:50px;
      }
    }
  }
  img {
    margin: 20px auto;
  }
  p {
    text-align: center;
  }
}




/* End Footer */
